$bgPrimary: #e4eaf5;
$bgSecondary:#e0e5ee;
$textPrimary: #546990;
$lightGrey: #EFEFEF;
$mediumGrey: #C0C0C0;
$dkSecondary: darken($bgSecondary,10%);
$ltSecondary: lighten($bgSecondary,45%);
$eventColor: #F8BB67;
$webinarColor: #9AC4F8;
$lectureColor: #82C086;
$deadlineColor: #E67A7D;
$workshopColor: #b950dc;
$borderColor: #d8dde6;
$primaryFont: "Salesforce Sans", Arial, sans-serif;
